<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>بنیاد خیریه کودک - صفحه اصلی</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body dir="rtl">

    {% if utype == "karbar" %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" >
        <div class="container">
            <!--Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/karbar/profile"><span class="glyphicon glyphicon-globe"></span> بنیاد کودک</a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/karbar/profile">خانه</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">درباره ما<span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="/karbar/ashnai">آشنایی با موسسه</a></li>
							<li><a href="/karbar/sakhtar_sazmani">ساختار سازمانی</a></li>
							<li><a href="/karbar/ahdaf">اهداف و دیدگاه ها</a></li>
						</ul>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	{% else %}
	<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><span class="glyphicon glyphicon-globe"></span> بنیاد کودک</a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/{{utype}}/">خانه</a>
                    </li>
                    <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">امور مالی <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="/{{utype}}/afzayesh_etebar">افزایش اعتبار</a></li>
							<li><a href="/{{utype}}/moshahede_tarakonesh_haye_mali">مشاهده تراکنش های مالی</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">صندوق پیام ها<span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="/{{utype}}/ersal_payam">ارسال پیام به دیگر کاربران</a></li>
							<li><a href="/{{utype}}/sandoghe_payamhaye_daryafti">صندوق پیام های دریافتی</a></li>
							<li><a href="/{{utype}}/sandoghe_payamhaye_ersali">صندوق پیام های ارسالی</a></li>
							{% if utype == 'madadkar' %}
							<li><a href="/madadkar/sandoghe_payamhaye_entezar">صندوق پیام های در انتظار تایید</a></li>
							{% endif %}
						</ul>
					</li>
                    <li>
                        <a href="/{{utype}}/roydadha">رویداد ها</a>
                    </li>
                    <li>
                        <a href="/{{utype}}/profile">پروفایل شخصی</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">درباره ما<span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="/{{utype}}/ashnai">آشنایی با موسسه</a></li>
							<li><a href="/{{utype}}/sakhtar_sazmani">ساختار سازمانی</a></li>
							<li><a href="/{{utype}}/ahdaf">اهداف و دیدگاه ها</a></li>
						</ul>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endif %}

<div class="container-fluid">

		{% if utype == "karbar" %}
	<!-- Left Column-->
    <div class="col-sm-3">
{#      <!--Form-->#}
{#      <div class="panel panel-default" align=right>#}
{#                <div class="panel-heading">#}
{#                    <h1 class="panel-title"><strong>ورود</strong></h1>#}
{#                </div>#}
{#                <div class="panel-body" align="right">#}
{#                    <form action="/karbar/" method="post">#}
{#						{% csrf_token %}#}
{#                        <!--<div class="form-group">-->#}
{#                            <input type="text" class="form-control" id="uid" name="username" placeholder="Username">#}
{#                        <!--</div>-->#}
{#                        <!--<div class="form-group">-->#}
{#                          <br>   <input type="password" class="form-control" id="pwd" name="password" placeholder="Password">#}
{#                        <!--</div>-->#}
{#                        <button type="add" class="btn btn-default"><a href="/karbar/sabtename_hamyar" style="color: white">ثبت نام همیار جدید</a></button>#}
{#                        <input type="submit" class="btn btn-default" style="color: white" value=" ورود">#}
{#                                                    <p style="color: red">{{ message }}</p>#}
{#					</form>#}
{#                </div>#}
{#	  </div>#}
	</div><!--/Left Column-->

	{% else %}
	<!-- Left Column -->
		<div class="col-sm-3">
{#			<!-- Form -->#}
{#			<div class="panel panel-default">#}
{#				<div class="panel-heading">#}
{#					<h3 class="panel-title" align=right >#}
{#						<span class="glyphicon glyphicon-log-in"></span>#}
{#						{{username}}#}
{#					</h3>#}
{#				</div>#}
{#				<div class="panel-body" align= right >#}
{#					<form>#}
{#						<button type="add" class="btn btn-default"><a href="{% url 'logout' %}">خروج</a></button>#}
{#					</form>#}
{#				</div>#}
{#			</div>#}

		</div><!--/Left Column-->
	{% endif %}


		<!-- Center Column -->
		<div class="col-sm-6">
			<!-- Carousel -->
 			<h3 align = "right"><span class="glyphicon glyphicon-modal-window" ></span>گالری</h3>
			<div id="side-carousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#side-carousel" data-slide-to="0" class="active"></li>
					{% for img in images %}
						<li data-target="#side-carousel" data-slide-to="1"></li>
					{% endfor %}
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<center><img class="img-responsive" src="/static/img/kid1.jpg" alt="" width="80%"></center>
					</div>

					{%for img in images%}
					<div class="item">
							<center><img class="img-responsive" src="/static/img/{{img}}" alt="" width="80%"></center>
						<!-- <div class="carousel-caption">
							<h3>Efficiently Unleash</h3>
							<p>Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
						</div> -->
					</div>
					{%endfor%}
				</div>
				<a class="left carousel-control" href="#side-carousel" role="button" data-slide="next">
				  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#side-carousel" role="button" data-slide="prev">
				  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				  <span class="sr-only">Next</span>
				</a>
			  </div>
			<!-- Articles -->
			<div class="row">
				<article class="col-xs-12" align="right">
					<h2>بنیاد خیریه کودک</h2>
					<p>{{tozihat}}</p>
				</article>
			</div>
			<hr>
            {% for khabar in akhbar %}
            <div class="row">
				<article class="col-xs-12" align="right">
					<h2>{{khabar.onvan}}</h2>
					<p>{{khabar.matn}}</p>
					<p>{{khabar.zaman}}</p>
				</article>
			</div>
			<hr>
            {% endfor %}
		</div><!--/Center Column-->


	  <!-- Right Column -->
	  <div class="col-sm-3">

			<!-- List-Group Panel -->
			<div class="panel panel-default" align="right">
				<div class="panel-heading">
					<h1 class="panel-title" align="right">  فهرست<span class="glyphicon glyphicon-random"></span></h1>
				</div>
				<div class="list-group">
					<a href="/{{utype}}/moshahede_list_koodakan" class="list-group-item">مشاهده‌ لیست کودکان </a>
					<a href="/{{utype}}/moshahede_list_niazhaye_fori_taminnashode" class="list-group-item">مشاهده لیست نیازهای فوری تامین نشده مددجویان</a>
				</div>
			</div>


			<!-- Progress Bars -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" align="right">
						نمودار تامین نیازها
						<span class="glyphicon glyphicon-scale"></span>
					</h3>
				</div>
				<div class="panel-body">
					{% for num,pr in progress %}
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{num}}"
						aria-valuemin="0" aria-valuemax="100" style="width:{{num}}%">
							{{num}}{{pr}}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>


	  </div><!--/Right Column -->

	</div><!--/container-fluid-->

	<footer style="text-align: center">
        <div class="small-print">
        	<div class="container">
        		<p><a href="#">Telegram</a> | <a href="#">Instagram</a> | <a href="#">Facebook</a></p>
        		<p>  تمامی حقوق برای بنیاد خیریه کودک محفوظ است.&copy; </p>
        	</div>
        </div>
	</footer>

	
    <!-- jQuery -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
	
	<!-- IE10 viewport bug workaround -->
	<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
	
	<!-- Placeholder Images -->
	<script src="/static/js/holder.min.js"></script>
	
</body>

</html>
